.card {
  margin: 50px 25px 25px 50px;
}

.custom-file{
  width: 50%;
  margin: 50px;
}

.photo-adm img{
  /* max-width: 339px; */
  width: 100%;
  /* border: 1px solid black; */
}

.photo-adm{
  overflow: hidden;
  /* max-width: 339px; */
  width: 100%;
  height: 235px;
  border: 1px solid black;
  margin: 10px auto;

}

.btn-danger.ph{
  margin-top: -121%;
  margin-left: 86%;
}