@font-face{
    font-family: 'Rewi';
    src: url('../font/REWI_M.TTF');
}

@font-face{
    font-family: "Roboto";
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face{
    font-family: "Roboto Bold";
    src: url('../font/Roboto/Roboto-Bold.ttf')
}

@font-face{
    font-family: "Roboto Italic";
    src: url('../font/Roboto/Roboto-Italic.ttf');
}

html{
    width: 100%;
   
}

.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper.open::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: #00000088;
}

.header{
    width: 100%;
    height: 50vh;
    background-image: url('../img/back_header.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow:0 0 0 5000px rgba(0, 0, 0, 0.120) inset;
}

.header__logo{
    width: 100px;
    height: 100px;
    /* height: 100%; */
    background-image: url('../img/logo_white.png');
    background-size: cover;
    margin-top: 15px;
}

.header__text{
    margin-top: 35px;
}

.text_phone{
    text-align: right;
    margin-right: 15px;
}

.head-text{
    font-family: Rewi;
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.head-h2{
    font-family: 'Rewi';
    color: #002a56;
    font-size: 40px;
}

.text-p{
    font-family: 'Rewi';
    color: #363636;
    font-size: 24px;
}

.content{
    width: 100%;
    /* height: 100vh; */
}


/* origin Стиль footer */
.footer .container-fluid{
    background-color: #002a56;
    width: 100%;
    height: 120px;
}
.foot{
    width: 75%;
    height: 120px;
    position: relative;
    margin: 0 auto;
}
.foot::before{
    content: "";
    width: 100%;
    height: 105px;
    position: absolute;
    bottom: 0;
    /* left: 12%; */
    /* background-color: #ffffff; */
    border-top: 3px solid #ffffff
}

.footer-text{
    margin-top: 20px;
}

.social{
    /* width: 40px; */
    /* height: 40px; */
    position: absolute;
    margin-top: 20px;
    right: 0;
}
.social img{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
}

/* end Стиль footer */


/* news.php Блок новостей */

.block-news{
    margin-top: 30px;
    width: 80%;
    height: max-content;
    position: relative;
    margin: 30px auto;
}
.news-block{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.news-image{
    max-width: 400px;
    max-height: 400px;
    width: 100%;
}

.news-block-text{
    max-width: 500px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    margin-left: -100px;
}

.text-p-news{
    margin-left: 10px;
}

/* ---------------------- */

/* photo.php Блок фотографий */

.content-photo{
    width: 60%;
    position: relative;
    margin: 20px auto;
}

.block-photo{
    margin: 15px auto;
}

.photo{
    width: 100%;
}

.photo img{
    width: 100%;
    transition: all 0.3s linear;
}

.photo:hover{
    box-shadow:0 0 0 5000px rgba(0, 0, 0, 0.99) inset;
}

.photo:hover img{
    opacity: 0.75;
}

.zoom{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 45%;
    top: 45%;
}

.carousel{
    max-width: 1000px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -250px;
    z-index: 999;
    display: none;
}

.carousel-open{
    display: block;
    transition: 5s
}

.wrapper-carousel{
    position: absolute;
    width: 100%;
    height: 10000px;
    background-color: #00000036;
    /* display: none; */
    z-index: 900;
}
.carousel-close{
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
}

.carousel-close label{
    width: 40px;
    height: 3px;
    background-color: white;
    position: relative;
    z-index: 900;
}

.carousel-close label:nth-child(1){
    /* margin-bottom: -15px; */
    /* transform: rotate(0deg); */

    transition: 1.2s;
}

.carousel-close label:nth-child(2){
    /* margin-top: 0px; */
    transition: 1.2s;
    /* transform: rotate(0deg); */


}

.carousel-close label:nth-child(1){
    margin-bottom: -15px;
    transform: rotate(45deg);
    /* transition: 0.2s; */
}

.carousel-close label:nth-child(2){
    margin-top: 0px;
    transform: rotate(135deg);
    /* transition: 0.2s; */

}
/* label{
    width: 10px;
    height: 10px;
} */

/* .carousel-close span:nth-child(2){
    width: 10px;
    height: 10px;
    background-color: white;
} */

.carousel-control-next{
    margin-top: 50px;
}
/* ---------------------- */

/* contacts.php Блок контакты */

.contacts-block{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    /* margin-left:40%;  */
    /* margin-left: 500px; */
}

.form-block-input{
    max-width: 370px;
    width: 100%;
    border: 2px solid #002a56;
}

.form-block-checkbox{
    display: none;
}

.checkbox-custom{
    position: relative;      
    width: 20px;             
    height: 20px;            
    border: 2px solid #002a56;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}

.form-block-checkbox:checked + .checkbox-custom::before{
    content: "";             
	display: block;			 
	position: absolute;      
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #002a56;
	border-radius: 2px;
}

.form-block-submit{
    max-width: 370px;
    width: 100%;
    padding: 10px;
    font-family: 'Rewi';
    font-size: 26px;
    color: white;
    background-color: #002a56;
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.map{
    width: 100%;
    height: 600px;
}

/* -------------------------- */