@font-face{
    font-family: 'Rewi';
    src: url('/font/REWI_M.TTF');
} 

html{
    width: 100%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.wrapper{
    width: 100%;
}

.header__background{
    width: 100%;
    height: 50vh;
    background-image: url('/img/back_header.jpg');
    background-size: cover;
    box-shadow:0 0 0 5000px rgba(0, 0, 0, 0.120) inset;
}

.header__logo{
    width: 100px;
    height: 100px;
    background-image: url('/img/logo_white.png');
    background-size: cover;
    margin: 15px;
}

.header__text{
    margin-top: 35px;
}

.text_phone{
    text-align: right;
    margin-right: 15px;
}

.head-text{
    font-family: Rewi;
    font-size: 1.25vmax;
    color: #fff;
    margin-bottom: 0;
}

.head-h2{
    font-family: 'Rewi';
    color: #002a56;
    font-size: 40px;
}

.text-p{
    font-family: 'Rewi';
    color: #363636;
    font-size: 20px;
}
/* news.php Блок новостей */
.news-block{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.news-image{
    max-width: 400px;
    max-height: 400px;
}

.news-block-text{
    width: 500px;
    max-height: 400px;
    height: 100%;
    margin-left: -100px;
}

.text-p-news{
    margin-left: 10px;
}

/* ---------------------- */